<% if false %>

  <div class="header-banner">
    <div class="banner-text text-shadow">
      SFU SUS
    </div>
  </div>

  <div class="gray-cover">
  </div>

<% end %>

<div class="screen-filler">
</div>

<div class="header-banner">
  <div class="promotional-banner">
  </div>

  <div class="promotional-banner2">
  </div>

  <div class="banner-text text-shadow">

  </div>
</div>
