/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "font-awesome";

body {
    font-family: "Open Sans",arial,helvetica,sans-serif;
    //font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.active {
  position: relative;
}

a .fa {
  color: darkgray;
}
a:hover .fa {
  color: #FFC107;
}

.active .nav-link  {
  color: #FFC107 !important;
}

.up-arrow {
  background-image: image-url("up-arrow2.png");
  height: 7px;
  width: 21px;
  position: absolute;
  bottom: 0px;
  right: 31px;
}

.down-arrow {
  background-image: image-url("down-arrow.png");
  height: 10px;
  width: 21px;
  position: absolute;
  top: -1px;
  right: 30px;
}

.navbar-nav {
  -webkit-box-orient: horizontal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.sus-logo {
  display: block;
  position: absolute;
  background-image: image-url("sus-logo2.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
  width: 150px;
  text-indent: -10000px;
  margin-right: 25px;
  top: -55px;
  border-radius: 55%;
  //box-shadow: 0 0 0 1px #FFC107;
  box-shadow: 0px 0px 22px 0px white;
}

.navbar .navbar-nav .nav-link {
  font-size: 1.25em;
}

li {
    padding-left: 7px;
    padding-right: 7px;
}

.header-banner {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #EFEFEF;
  //background-image: image-url("bg3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.promotional-banner {
  position: absolute;
  top: 25%;
  width: 100%;
  height: 30vh;
  background-image: image-url("bg3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.promotional-banner2 {
  position: absolute;
  top: 45%;
  left: 25%;
  width: 50%;
  height: 50vh;
  background-image: image-url("bg3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  border: 0px solid white;
}

.gray-cover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .25) !important;
  z-index: -1;
}

.banner-text {
  position: absolute;
  top: 30%;
  width: 100%;
  text-align: center;
  color: #333;
  font-size: 4em;
  z-index: 4000;
  font-weight: bold;
}

.text-shadow {
  text-shadow: 0px 1px 3px black;
}

.bg-white {
  background-color: white;
}

.bg-darkred {
  background-color: darkred !important;
}
