<div class="">
<div class="bg-light" style="height: 45px; padding-top: 5px;">
  <div class="container">
  <ul class="navbar-nav" style="float: right;">
    <li class="nav-item">
      <a class="nav-link" href="https://www.facebook.com/JumpingVictoria"> <i class="fa fa-facebook-official" style="font-size: 1.5em;" aria-hidden="true"></i><span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://www.instagram.com/jumpingfitnessvic/"> <i class="fa fa-instagram" style="font-size: 1.7em;" aria-hidden="true"></i><span class="sr-only">(current)</span></a>
    </li>
  </ul>
</div>
</div>

<div style="padding-left: 0px; padding: 0px; background-color: transparent; height: 100%;">

    <div class="bg-light"  style="height: 40px; width: 100%;">

    </div>

    <nav class="navbar navbar-expand-lg navbar-light" style="padding: 0px;">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="bg-light" style="background-color: white; border-top: 5px solid #FFC107; width: 100%;">

        <div class="container">
        <a class="navbar-brand sus-logo" href="#">SUS-Logo</a>
          <div class="collapse navbar-collapse" id="navbarText">
            <div style="padding: 0 0px 0 200px; width: 100%;">
              <ul class="navbar-nav mr-auto" style="line-height: 45px;">
                <li class="nav-item active">
                  <a class="nav-link" href="#"> Home <span class="sr-only">(current)</span></a>
                  <div class="down-arrow"></div>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"> Events </span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"> Get Involved </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"> About Us </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"> Contact Us </a>
                </li>
              </ul>

            </div>
            <span class="navbar-text">
              Navbar text with an inline element
            </span>
          </div>
        </div>
      </div>
    </nav>
</div>
</div>
